# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Ansible
ansible/inventory.ini
ansible/group_vars/all.yml
ansible/*.pem
ansible/*.retry
ansible/.vault_pass
